body {
  width: 100vw;
  height: 100vh;
  margin: 0;
  padding: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  font-family: "Open Sans Condensed", sans-serif;
}

#calculator {
  justify-content: center;
  align-items: center;
  border: 2px transparent #ffff;
  border-radius: 8px;
  gap: 10px;
  margin: 20px;
  padding: 5px;

  background-color: #0093e9;
  background-image: linear-gradient(160deg, #0093e9 0%, #80d0c7 100%);
  box-shadow: 5px 10px lightgrey;
  height: 520px;
  filter: grayscale(5%) opacity(0.7);
}

#display-two {
  align-items: 60px;
  font-size: 50px;
  padding-top: 20px;
  padding-right: 15px;
  overflow: hidden;
}

#display-one {
  height: 20px;
  opacity: 0.4;
  overflow: hidden;
  padding-top: 10px;
  padding-right: 15px;
}

#input_box {
  margin: 5px;
  width: 275px;
  height: 120px;
  margin-bottom: 10px;
  border-radius: 8px;
  background-color: #ffff;
  border: 2px solid #ffff;
}

#calculator_buttons_grid {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  grid-template-areas:
    "clear" "percentage" "delete" "divide"
    "seven" "eight" "nine" "times"
    "four" "five" "six" "minus"
    "one" "two" "three" "plus"
    "double" "zero" "decimal" "equals";
  gap: 15px;
  margin: 5px;
}

button {
  width: 60px;
  height: 60px;
  border-radius: 8px;
  background-color: #ffff;
  border: 2px solid #ffff;
  font-family: "Open Sans Condensed", sans-serif;
  box-shadow: 5px 10px lightgrey;
  border: 2px solid #ffff;
  text-decoration: none;
  outline: none;
  font-weight: bolder;
}

button:active {
  border: 2px solid #ffff;
  box-shadow: 0 5px #666;
  transform: translateY(4px);
}

#input {
  grid-area: "input";
}

#clear {
  grid-area: "clear";
  background-color: black;
  color: lightgrey;
  font-weight: bold;
}

#percentage {
  grid-area: "percentage";
  background-color: black;
  color: lightgrey;
}

#delete {
  grid-area: "delete";
  background-color: black;
  color: lightgrey;
}

#divide {
  grid-area: "divide";
  background-color: black;
  color: lightgrey;
}

#seven {
  grid-area: "seven";
}

#eight {
  grid-area: "eight";
}

#nine {
  grid-area: "nine";
}

#times {
  grid-area: "times";
  background-color: black;
  color: lightgrey;
}

#four {
  grid-area: "four";
}

#five {
  grid-area: "five";
}

#six {
  grid-area: "six";
}

#minus {
  grid-area: "minus";
  background-color: black;
  color: lightgrey;
}

#one {
  grid-area: "one";
}

#two {
  grid-area: "two";
}

#three {
  grid-area: "three";
}

#plus {
  grid-area: "plus";
  background-color: black;
  color: lightgrey;
}

#double {
  grid-area: "double";
}

#zero {
  grid-area: "zero";
}

#decimal {
  grid-area: "decimal";
}

#equals {
  grid-area: "equals";
  background-color: black;
  color: lightgrey;
}
